[Desktop Entry]
Name=Crab Game
Comment=Play this game on Steam
Exec=steam steam://rungameid/1782210
Icon=steam_icon_1782210
Terminal=false
Type=Application
Categories=Game;
